@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.intro {
  position: relative;
  margin: 0;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header {
  height: 350px;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#tsparticles {
  position: relative;
}