@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.intro {
  position: relative;
  margin: 0;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
}
h1 {
  font-size: 75px;
  letter-spacing: 10px;
}
h1,
p {
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  color: rgb(192, 192, 192);
}
.header {
  height: 350px;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #001429;
}
#tsparticles {
  position: relative;
}